@import "catppuccin/themes/mocha.css";

window {
  font-family: "Cascadia Code NF";
  background: @base;
  color: @text;
  font-size: 16px;
}

/* Reset buttons */
button, button:hover {
  box-shadow: none;
  background: transparent;
  border: none;
  text-shadow: none;
  border-radius: 0;
  color: inherit;
}

button {
  font-family: "Cascadia Code NF";
}

button:hover {
  background: @surface0;
}

button.empty {
  color: @surface2;
}

button.focused {
  background: @surface1;
  color: @text;
}

.modules-right {
  padding-right: 15px;
}

#workspaces button {
  padding: 5px 10px;
}

#tray menu {
  color: black;
}

tooltip {
  background-color: @base;
  font-family: "Cascadia Code NF";
  border-radius: 0;
  border-color: @mauve;
}
